body{
    background-image: url('/images/home2.jpg');
    background-repeat: no-repeat;
  background-size: cover;

}
nav > ul{
    display: flex;
}
 li a{
    text-decoration: none;
    color: white;
}
nav li{
    list-style: none;
    margin-right: 20px;
    padding: 0 5px;
    color: blueviolet;
}
nav li:hover{
    background-color: rgb(108, 237, 126);
  
}
h1{
    text-align: center;
    color: white;
    justify-items: center;
}
nav li .drop-down{
    display: none;
}
nav li:hover .drop-down{
    display: block;
}