main{
    margin: 10%;
}
td,th{
    border: 3px solid blueviolet;
    padding: 10px;
}
table{
    border-collapse: collapse;
}
/* header{
    background-color: blanchedalmond;
    height: 20%;
    margin-top: 20px;
} */

nav > ul{
    display: flex;
}
 li a{
    text-decoration: none;
  
}
nav li{
    list-style: none;
    margin-right: 20px;
    padding: 0 5px;
    color: blueviolet;
}
nav li:hover{
    background-color: aqua;
  
}
nav li .drop-down{
    display: none;
}
nav li:hover .drop-down{
    display: block;
}